<div class="row row-fluid mb-4">
    <div class="dropdown open d-block mx-auto">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Galleries
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" asp-area="" asp-controller="Gallery" asp-action="Index">Main Gallery
            </a>
        </div>
    </div>
</div>