@{ ViewData["Title"] = "Products"; }

<div class="container">
    <div class="row">
        <h5>For even more fantastic Trilliant Ring products, visit our catalog
            <a href="https://far-verona.wikia.com/wiki/Trilliant_Ring_Products_and_Services" target="_blank">here</a>, or contact your nearest Trilliant Representative for details.</h5>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/LET.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Life-Extension Therapy</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="http://far-verona.wikia.com/wiki/Life-Extension_Therapy" target="_blank" class="card-link">See how Trilliant can improve your life today<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/foetal_manipulation.jpg" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Foetal Genetic Manipulation</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://pbs.twimg.com/media/DbJRP4hWsAEg_qV.jpg" target="_blank" class="card-link">Be Exceptional. Be Trilliant<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/Trillia_Cruise_Lines.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trillia Cruise Lines</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="http://far-verona.wikia.com/wiki/Trillia_Cruise_Lines" target="_blank" class="card-link">Experience Perfection<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/Boardroom.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trilliant Paragon Services</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://far-verona.wikia.com/wiki/Trilliant_Ring_Products_and_Services" target="_blank" class="card-link">Wealth Management You Can Trust<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/gifs/Trill_Makeups.gif" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Dress to Trill</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://i.imgur.com/V3PzjDQ.mp4" target="_blank" class="card-link">When the Occasion Arises, Dress to Trill<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/Trilltini.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trilliant Fine Spirits</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://cdn.discordapp.com/attachments/435907004704489482/464757709087178752/Ambrosia.gif" target="_blank" class="card-link">For the Discerning Alcoholic<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="https://cdn.discordapp.com/attachments/435907004704489482/437899906661744640/Trilliant_ice.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trilliant Ice</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://youtu.be/pGiVwEkdcDI" target="_blank" class="card-link">Also goes great with DVodka<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Jaegergems/Jaegergems_small.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Jaegergems</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://far-verona.wikia.com/wiki/Jaegergems" target="_blank" class="card-link" style="font-size:.75rem;">Collect Them All. Love them All.<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/Mech2.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trill Hardware</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://far-verona.wikia.com/wiki/Trilliant_Ring_Products_and_Services" target="_blank" class="card-link">A Cut Above the Rest<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="https://highchurch.space/Assets/Memes/NO_WHY.png" alt="Card image cap">
                <div class="card-body align-top h-auto">
                    <h4 class="card-title">Trilliant Omni-Media</h4>
                </div>
                <div class="card-body align-top h-auto">
                    <a href="https://far-verona.wikia.com/wiki/Trilliant_Ring_Products_and_Services" target="_blank" class="card-link">Surpassed By None<i class="fas fa-trademark    "></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
