@{ ViewData["Title"] = "Products"; }

<div class="container">
    <div class="row">
        <h5>For even more fantastic Trilliant Ring products, visit our catalog
            <a href="https://far-verona.wikia.com/wiki/Trilliant_Ring_Products_and_Services" target="_blank">here</a>, or contact your nearest Trilliant Representative for details.</h5>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/LET.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Life-Extension Therapy</h4>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Life-Extension_Therapy" target="_blank" class="card-link">See how Trilliant can improve your life today.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/foetal_manipulation.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Feotal Genetic Manipulation</h4>
                </div>
                <div class="card-body">
                    <a href="https://pbs.twimg.com/media/DbJRP4hWsAEg_qV.jpg" target="_blank" class="card-link">Be Exceptional. Be Trilliant.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="~/Assets/Ads/Trillia_Cruise_Lines.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Trillia Cruise Lines</h4>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Trillia_Cruise_Lines" target="_blank" class="card-link">Experience Perfection.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img-fluid img-thumbnail img-scaled " src="holder.js/500x500/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <a href="" target="_blank" class="card-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>