<h1>Press Releases</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="d-inline-block pr-5">
                    <p class="h2">@Html.ActionLink("Accepting Perfection", "AcceptingPerfection", "PressReleases", null, new { @class="ml-auto", @style="size:1.5rem;" })<h5>By Pelax, President of Digital Operations</h5>
                        </h3>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>