<h1>Press Releases</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="d-inline-block pr-5">
                    <p class="h2">@Html.ActionLink("Sample PDF", "Details", "PressReleases", new {location="https://highchurch.space/Documents/WeHaveAWinner.pdf",
                            is_PDF="true"}, new { @class="ml-auto", @style="size:1.5rem;" })<h5>Sample Author</h5></h3>
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="d-inline-block pr-5">
                    <p class="h2">@Html.ActionLink("Sample HTML", "Details", "PressReleases", new {location="https://highchurch.space/credo.html",
                            is_HTML="true"}, new { @class="ml-auto", @style="size:1.5rem;" })<h5>Sample Author</h5></h3>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>