@{ ViewData["Title"] = "Home Page"; }



<div class="container-fluid">
    <div class="row d-block mx-auto justify-content-center align-content-center text-center">
        <h2 class="tagline pb-2">Trilliant. The sector's choice for luxury goods<i class="fas fa-trademark"></i></h1>
    </div>
    <div class="d-block mx-auto" style="height:50vh;">
        <div id="carouselExampleIndicators" class="carousel slide h-100 w-100 border rounded" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a asp-area="" asp-controller="Product" asp-action="Index">
                        <img style="height:50vh;" class="img-fluid img-scaled align-middle d-block mx-auto" src="Assets/Jaegergems/Jaegergems.png"
                            alt="First slide">
                    </a>

                    <div class="carousel-caption d-md-block">
                        <h5 class="card_title carousel_text ">Collect them all. Treasure them all.</h5>
                    </div>
                </div>

                <div class="carousel-item">
                    <a asp-area="" asp-controller="Product" asp-action="Index">
                        <img style="height:50vh;" class="img-fluid img-scaled d-block mx-auto" src="Assets/Ads/Cryosleep.png" alt="Second slide">
                    </a>

                    <div class="carousel-caption d-md-block">
                        <h5 class="card-title">Sleep well. Sleep Trilliant</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <a asp-area="" asp-controller="Product" asp-action="Index">
                        <img style="height:50vh;" class="img-fluid img-scaled d-block mx-auto" src="Assets/gifs/Jewelry.gif" alt="Third slide">
                    </a>

                    <div class="carousel-caption d-md-block">
                        <h5 class="card-title">Become Trill Today</h5>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="spacing-padder"></div>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top img-scaled align-self-center" src="~/Assets/Ads/LET.png" alt="" style="max-height:180px;max-width:180px;">            
            <div class="card-body">
                <h4 class="card-title">Become Your Best Self, With Trilliant<i class="fas fa-trademark    "></i></h4>
                <a target="_blank" href="http://far-verona.wikia.com/wiki/Life-Extension_Therapy">Contact your local rep today!</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-scaled align-self-center" src="~/Assets/Ads/Maternity_suite.png" alt="" style="max-height:180px;max-width:180px;">
            <div class="card-body">
                <h4 class="card-title">Expecting? Expect the best from Trilliant Maternity Services<i class="fas fa-trademark    "></i></h4>
                <a target="_blank" href="http://far-verona.wikia.com/wiki/Life-Extension_Therapy">Contact our Maternity Representatives for more information</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display:none;">
    <div class="row">
         <pre style="color:white;">   
              ___
            ,'   `.
           /_. _,. \
          ( /('   \ :
           \\|    / ;
            `'   / /
                / /
               : :
               | :    _______
               :  \ ,'       `-._
               '   /    .  .  .  \
                : `' ;  ;  ;  ; , :
                 \`./  /  /  / ; ;;
                  `. `'../__/ / ,.\
                     `'-.____;-'`\\\
                         \ //   / '|
                          ::\
                          ||\\
                          || \\
                          ||  ))
                          || //
                          ||//
                          ||/
                          ||
                         /||
                         `||-
                       __,';  </pre>
    </div>
</div>