@model GDPRModel 
@{ ViewData["Title"] = "GDPR"; } 

<div class="container">
  <div class="row-fluid">
      <div class="col-lg-12">
          <p>Your request could not be completed. Please make sure you verify your age and accept the terms listed in the checkbox on the form and resubmit.</p>
          <p><a class="btn btn-primary" href="~/GDPR">Back</a> </p>
      </div>
  </div>
 </div>
</div>