@model GDPRModel 
@{ ViewData["Title"] = "GDPR"; } 

<div class="container">
  <div class="row-fluid">
      <div class="col-lg-12">
          <p>Your request has been received and will be processed by the site administrators. Please allow for 24-48 hours for processing. You may leave this page.</p>
      </div>
  </div>
 </div>
</div>