* {
    background-color: black;
    color: gold!important;
    font-family: 'Raleway', sans-serif!important
}

hr {
    border: 0;
    border-color: gold
}

:not(pre) :not(.hljs)>code {
    color: black;
    font-size: inherit;
    text-decoration: underline
}

blockquote {
    background: black;
    color: gold;
    border-left: 10px solid gold;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019"
}

blockquote:before {
    color: gold;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em
}

blockquote p {
    display: inline
}

tbody tr:nth-of-type(odd) {
    background-color: lightgrey
}

table {
    width: 100%
}

h1 {
    border-color: gold
}

.callout {
    text-decoration: underline
}

.pasteable {
    background-color: black;
    border-color: gold;
    text-decoration: unset;
    margin-bottom: 2rem;
    border-radius: 25px;
    border-color: gray;
    border: 2px solid gray
}

.pasteable p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: unset
}

.alert {
    display: none
}

body {
    background-color: black!important;
    width: 100%;
    padding: unset
}

.curtain {
    /* margin: 0 auto;
    overflow: hidden; */
}

.curtain__wrapper {
    width: 100%;
    height: 100%;
}

.curtain__wrapper input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    top: 0;
    left: 0
}

.curtain__wrapper input[type=checkbox]:checked~div.curtain__panel--left {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.curtain__wrapper input[type=checkbox]:checked~div.curtain__panel--right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.curtain__panel {
    align-items: center;
    background: black;
    color: #fff;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    transition: all 1s ease-out;
    z-index: 2;
}

.hidden-scrollbar {
    background-color: black;
    color: white;
    overflow: hidden;
    text-align: justify;
}

.hidden-scrollbar .inner {
    overflow: auto;
    margin-right: 1rem;
}

.curtain__panel--left {
    justify-content: flex-end;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.curtain__panel--right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    overflow-y: scroll;
}

.curtain__content {
    background: black;
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%
}

.curtain__content img {
    width: 20%
}

html, body {
    height: 100%;
    overflow-x: hidden;
    width: 100vw;
    padding: unset;
}

.full-height {
    height: 100%
}

#curtain_pane, .inner, #button p, h1, h2 {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inner>p {
    font-size: .8rem;
}

hr {
    border-color: gold !important;
    border: gold 1px solid;
}