/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: black;
}

* {
    background-color: black;
    color: white !important;
    font-family: 'Cinzel', serif;
}

.nav {
    background-color: black
}

.navbar-dark .navbar-brand {
    color: gold !important;
    text-shadow: 2px 2px #434336;
    font-size: 1.5rem;
}

.nav-link {
    color: gold;
    font-size: 1.25rem;
    text-shadow: 2px 2px #434336;
}

.navbar-dark .navbar-nav .nav-link {
    color: gold !important;
}

.navbar-dark .navbar-nav :hover {
    color: white;
}

.tagline {
    font-family: 'Cinzel', serif;
    color: white;
    text-shadow: 2px 2px #434336;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: gold;
}

.navbar-dark .navbar-toggler {
    border-color: gold;
    opacity: .5;
}

.navbar-dark .navbar-toggler :hover {
    border-color: gold;
    background-color: gold;
    color: gold;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    background-color: none;
    color: none;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: darkgrey;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: darkgrey;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    size: 2rem;
    width: 75%;
    display: block;
    margin: auto;
}

.img-scaled {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 1px;
    width: 1px;
    background-image: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.spacing-padder {
    height: 25px;
}

.carousel_text {
    color: white;
}

.alert-success {
    background-color: black;
    border-color: gold;
}

a {
    color: gold !important;
    text-shadow: 2px 2px #434336 !important;
}

.img-thumbnail {
    border: none;
    background-color: black;
}

.card {
    border: 5px solid gold;
    background-color: black;
}

.btn-secondary {
    background-color: black;
    border: 2px solid gold;
    color: white;
}

.row {
    margin-bottom: 5px;
}

.fa-trademark:before {
    color: gold;
    vertical-align: text-top;
    font-size: .5rem;
    padding-left: 5px;
}

.carousel-control-next-icon:after {
    color: gold;
}

.carousel-control-prev-icon::after {
    color: gold;
}

.card-img-top{
    background-color:black;
}

.dropdown-menu{
    background-color:black;
}

.table thead th {
    background-color: rgba(255,255,255,.5);
}

.golden-drop-shadow
{
    box-shadow: 8px 10px gold;
}

.golden-outline
{
    border:2px gold solid;
}