@{ ViewData["Title"] = "Leaderboards"; }

<div class="container">
    <div class="row">
        <div class="text-center col-lg-12 d-block mx-auto">
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
        <thead class="thead-inverse">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Credits</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.leaderboard_stats)
            {
            <tr>
                <td class="font-weight-bold">@Html.Raw(item.name)</td>
                <td>@Html.Raw(item.credits)</td>
            </tr>
            }
        </tbody>
    </table>
        </div>
    </div>
</div>

